@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Teko:wght@300&display=swap');

body {
    margin: 0;
}
.cabecario {
    background-color: palevioletred;
    height: 35px;
    padding: 0px 20px;
}

.cont-cabecario {
    height: 100%;
}

.titulo-logo {
    font-size: 28px;
    font-family: 'Teko', sans-serif;
    color: #fff;
}

.btn-cabecario {
    float: right;
    height: 100%;
}

.btn {
    height: 100%;
    margin-left: -5px;
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 0 10px;
}

.btn:hover {
    background-color: #fff;
    color: pink;
    border-bottom: 2px solid rgb(223, 89, 111);
}

.btn:focus {
    background-color: #fff;
    color: pink;
    border-bottom: 2px solid rgb(223, 89, 111);
}

.conteudo-info {
    background-image: url("./assets/Logo-fundo.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 35px;
    left: 0;
    bottom: 0;
    right: 0;
}

.cont-texto {
    width: 600px;
    margin-top: 10%;
    margin-left: 100px;
    text-align: center;
}

strong {
    color: #fff;
    font-size: 25px;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Teko', sans-serif;
}

.titulo {
    color: #fff;
    font-family: 'Teko', sans-serif;
    font-size: 50px;
    
}